.tasks-container{
    margin-top: 80px;
    padding:20px !important;
    min-height: 90vh;
    border-radius: 50px;
    -webkit-box-shadow: 0px 5px 20px 1px #b7b5bb4d;
    -moz-box-shadow: 0px 5px 20px 1px #b7b5bb4d;
    box-shadow: 0px 5px 20px 1px #b7b5bb4d;
}
.category-tab{
    font-size: 20px;
    background-color: #cab7f7;
    color: white;
    margin:10px;
    border-radius: 30px !important;
    transition: all 250ms ease-in-out;
    -webkit-box-shadow: 0px 5px 10px 1px #c2abf765;
    -moz-box-shadow: 0px 5px 10px 1px #c2abf791;
    box-shadow: 0px 5px 10px 1px #c2abf791;
}
.category-tab:hover{
    border: none;
    color: white;
    background-color: #a1b7f5;
    /* transform: scale(1.05); */
    -webkit-box-shadow: 0px 5px 15px 5px #a1b7f588;
    -moz-box-shadow: 0px 5px 15px 5px #a1b7f588;
    box-shadow: 0px 5px 15px 5px #a1b7f588;
}

.nav-tabs{
    padding-bottom: 20px;
}
.tab-pane{
    padding: 15px 10px 
}

.add-task-btn{
    height: 80px;
    width: 80px;
    border-radius: 40px;
    border: none;
    background-color: #cab7f7;
    margin: auto;
    margin-bottom: 100px;
    transition: all 250ms ease-in-out;
    -webkit-box-shadow: 0px 5px 20px 1px #c2abf7;
    -moz-box-shadow: 0px 5px 20px 1px #c2abf7;
    box-shadow: 0px 5px 20px 1px #c2abf7;
    cursor: pointer;

}
.add-sympol{
    color: white;
    font-size: 40px;
    margin-bottom: 100px;
}
.add-task-btn:hover{
    background-color: #a1b7f5;
    -webkit-box-shadow: 0px 5px 25px 5px #a1b7f5;
    -moz-box-shadow: 0px 5px 25px 5px #a1b7f5;
    box-shadow: 0px 5px 25px 5px #a1b7f5;
}

.add-task-btn:focus {
    border: none;
    outline: none;
}
.add-task-btn:active{
    background-color: #5833ad;
    -webkit-box-shadow: 0px 5px 20px 1px #5833ad;
    -moz-box-shadow: 0px 5px 20px 1px #5833ad;
    box-shadow: 0px 5px 20px 1px #5833ad;

}