.base-container {
    min-height: 70vh;
    margin-top: 150px;
    border-radius: 20px;
    padding: 80px 20px;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0px 10px 30px 1px rgba(15, 15, 15, 0.2);
    -moz-box-shadow: 0px 10px 30px 1px rgba(15, 15, 15, 0.2);
    box-shadow: 0px 15px 25px 2px rgba(15, 15, 15, 0.2);
}

.header {
    font-size: 30px;
    color: rgb(159, 169, 224);
}

.image {}

.form {
    margin-left: 20px;
}

.form-container {
    margin-left: 100px;
}

.form-control {
    -webkit-box-shadow: 0px 5px 20px 2px #bac4ca96;
    -moz-box-shadow: 0px 5px 20px 2px #bac4ca96;
    box-shadow: 0px 5px 20px 2px #bac4ca96;
    transition: all 250ms ease-in-out;

}

.form-group {
    margin-bottom: 50px;
}


.form-control:hover {
    background-color: #ffffff;
    -webkit-box-shadow: 0px 10px 30px 5px #bac4ca96;
    -moz-box-shadow: 0px 10px 30px 5px #bac4ca96;
    box-shadow: 0px 10px 30px 5px #bac4ca96;
}

.form-control:focus {
    background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 2px 0.8px #3474dbb2;
    -moz-box-shadow: 0px 0px 2px 0.8px #3474dbb2;
    box-shadow: 0px 0px 2px 0.8px #3474dbb2;
}

.form-control::placeholder {
    padding-left: 10px;
    font-size: 14px;
    line-height: 3;
    font-weight: 100;
    color: #9b9c9e86;
}

.sub-btn {
    font-size: 20px;
    min-height: 40px;
    width: 150px;
    padding: 5px 20px;
    border: none;
    background-color: #cab7f7;
    color: #fff;
    border-radius: 20px;
    margin-top: 50px;
    transition: all 250ms ease-in-out;
    -webkit-box-shadow: 0px 5px 20px 1px #c2abf7;
    -moz-box-shadow: 0px 5px 20px 1px #c2abf7;
    box-shadow: 0px 5px 20px 1px #c2abf7;
    cursor: pointer;
}

.sub-btn:hover {
    background-color: #a1b7f5;
    -webkit-box-shadow: 0px 5px 25px 5px #a1b7f5;
    -moz-box-shadow: 0px 5px 25px 5px #a1b7f5;
    box-shadow: 0px 5px 25px 5px #a1b7f5;

}

.sub-btn:focus {
    outline: none;
}
